a, figcaption, h1, h3, li, p {
  font-size: 100% /*16*/
}

a {
  font-size: 100%; /*16*/
  color: #ffffff;
  text-decoration: none; 

}

figcaption {
  font-size: 75% /*12*/
}

h1 {
  font-size: 250%; /*40*/
  line-height: 150%
}


h3 {
  margin-bottom: 20px;
  font-size: 175% /*28*/
}

li {
  font-size: 100%; /*16*/
  color: #ffffff
}

p {
  font-size: 100%; /*16*/
  line-height:125%
}

body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px
}

nav {
  background-color: #000000;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
